<% include ../partials/header %>

    <table id="movie_details">
      <% if (movie.Poster !== "N/A") { %>
        <td><img src="<%= movie.Poster %>" /></td>
      <% } %>
      <td>
        <h1><%= movie.Title %></h1>
        <p><strong>Genre:</strong> <%= movie.Genre %></p>
        <p><strong>Director:</strong> <%= movie.Director %></p>
        <p><strong>Writer:</strong> <%= movie.Writer %></p>
        <p><strong>Actors:</strong> <%= movie.Actors %></p>
        <p><em><%= movie.Plot %></em></p>
        <ul>
          <li><strong>Year:</strong> <%= movie.Year %></li>
          <li><strong>Rated:</strong> <%= movie.Rated %></li>
          <li><strong>Released:</strong> <%= movie.Released %></li>
          <li><strong>Runtime:</strong> <%= movie.Runtime %></li>
          <li><strong>Language:</strong> <%= movie.Language %></li>
          <li><strong>Country:</strong> <%= movie.Country %></li>
          <li><strong>Awards:</strong> <%= movie.Awards %></li>
          <li><strong>imdbRating:</strong> <%= movie.imdbRating %></li>
          <li><strong>imdbVotes:</strong> <%= movie.imdbVotes %></li>
          <li><strong>Type:</strong> <%= movie.Type %></li>
        </ul>
        <form method="post" action="/watch-later/">
          <input type="hidden" name="movie[imdbID]" value="<%= movie.imdbID %>">
          <input type="hidden" name="movie[Title]" value="<%= movie.Title %>">
          <button>Watch Later</button>
        </form>
        <div id="search"><a href="/">Back to Search</a></div>
        <div id="list"><a href="/watch-later">Go to Watch List</a></div>
      </td>
    </table>
  </body>
</html>




