<!DOCTYPE html>
<html>
  <head>
    <title><%= movie.Title %></title>
    <link rel="stylesheet" href="/styles/normalize.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="shortcut icon" href="/images/favicon.png" />
  </head>
  <body>
    <h1><%= movie.Title %></h1>
    <table class="details">
      <td>
        <ul>
          <li>Title: <%= movie.Title %></li>
          <li>Year: <%= movie.Year %></li>
          <li>Rated: <%= movie.Rated %></li>
          <li>Released: <%= movie.Released %></li>
          <li>Runtime: <%= movie.Runtime  %></li>
          <li>Genre: <%= movie.Genre %></li>
        </ul>
      </td>
    </table>
    <form method="post" action="/movie/quick/<%= movie.imdbID %>?_method=delete">
      <button>Delete this Movie</button>
    </form>
    <p id="list_link"><a href="/watch-later">back to movie list</a><a href="/">back to search</a></p>
  </body>
</html>